.loginContainer {
  background: #3498DB;
  background: linear-gradient(0deg, rgba(12,65,101,1) 0%, rgba(63,176,252,1) 34%);
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer img {
  width: 50%;
  margin-bottom: 20px;
}

.loginContainer form {
  display:flex;
  flex-direction: column;
  margin: 20px 20%;
}

