.centralApp {
  background: #fc3f3f;
  background: linear-gradient(0deg, rgb(101, 15, 12) 0%, rgb(252, 63, 63) 34%);
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:white;
}

.centralApp button, .centralApp ul {
  margin: 0 20%;
  padding-inline-start: 0px;
  list-style: none;
}

.centralApp h1 {
  font-size: 1.5rem;
}
.centralApp h4 {
  font-weight: 100;
}

.resultsListContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.resultsListContainerVotes {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}
.resultsListContainerVotes :first-child img {
  border-top: 15px solid #37A7FB;
  border-left: 15px solid #37A7FB;
  border-right: 15px solid #103C5F;
  border-bottom: 15px solid #103C5F;
  border-radius: 5px;
}

.resultContainer {
  position: relative;
}

.resultContainer img {
  width: 300px;
  margin: 10px 10px;
  border: rgba(255, 255, 255, 0) solid 15px;
}

.resultContainer h4 {
  position: absolute;
  top: 8%;
  left: 0;
  margin: 0 0 0 7%;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 5px 10px;
}

.resultContainer div {
  position: absolute;
  bottom: 8%;
  right: 0%;
  margin: 0 7.2% 0 0;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 5px 10px;
}

.startGameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.startGameContainer h1 {
  font-weight: normal;
  margin-right: 50px;
}

.startGameContainer h2 {
  margin: 0 10px;
}

.logo--central {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.centralApp h3 {
  letter-spacing: 1px;
}

.roomCodeContainer {
  position:relative;
}
.roomCodeContainer img{
  position: absolute;
  top: -21px;
  left: -33px;
  height: 4em;
}

.roomCodeContainer h2{
  position: absolute;
  top: 0;
  left: 0;
}